
nav a{
    color: black;
}
a:hover{
    color: red;
}

/* navbar styling */
.navigation{
    position: relative;
    padding: 0 60px;
    height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease;
    font-style: italic;
    text-decoration: none;
    background-attachment: fixed;
    
}
.background{
    background: url(/images/jason-goodman-MUZFKa_mttU-unsplash.jpg) center;
    background-size: cover;
    min-height: 500px;
    padding: 40px;
    text-align: center;
}














